<?xml version="1.0" encoding="utf-8"?>
        <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
    <listener class-name="ReportManager.Listener"/>
</listeners>
<test name="SignIn">
    <classes>
        <class name="TestCases.ToVerifySignUp"/>
    </classes>
</test>
   <test name="SearchedUser">
       <classes>
           <class name="TestCases.ToVerifySearchTab"/>
       </classes>
   </test>

</suite>